.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/local
job_output.txt
outputs/saved_models
outputs/reports
outputs/depression
outputs/overall
outputs/anxiety
R/tests
outputs/documents/Results_edit.docx
outputs/pres2
outputs/presentations
outputs/presgpt
outputs/presclaude
outputs/saved_models
outputs/depression
outputs/overall
outputs/anxiety
outputs/documents/Results_cache
outputs/documents/Appendix_cache
outputs/documents/_book/Micronutrient-Supplementation-for-Depressive-and-Anxiety-Symptoms-in-Adults--A-Systematic-Review-and-Bayesian-Network-Meta-Analysis-of-Randomized-Controlled-Trials.docx
outputs/documents/Appendix_files
outputs/documents/renv
outputs/documents/.gitignore
.positai
outputs/documents/scripts/__pycache__/
outputs/documents/.tmp_split_bib_test/
outputs/documents/index_cache/
outputs/documents/partials/
outputs/documents/site_libs/
.decktape
/.quarto/
**/*.quarto_ipynb
